@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* general Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Georgia, "Times New Roman", Times, serif;
}

h1 {
  margin: 10px;
  text-align: center;
}

h2 {
  word-break: break-all;
  align-self: center;
}
p {
  font-size: 1.2rem;
}

button {
  padding: 5px 10px;
  font-size: 1rem;
  margin-left: 15px;
  border-radius: 5px;
  border: 0.5px solid rgba(0, 0, 0, 0.39);
}

button:hover {
  background-color: rgb(211, 209, 209);
}

button:active {
  background-color: rgb(163, 162, 162);
}

dialog {
  margin: auto;
  border-radius: 5px;
  border: 0.5px solid rgba(0, 0, 0, 0.514);
}
/* Book section styles */

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 15px;
  padding: 15px;
}

.book {
  background-color: aqua;
  border-radius: 8px;
  box-shadow: 1px 1px 5px black;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  letter-spacing: 0.5px;
  line-height: 1.5;
}
.book button {
  width: 150px;
  align-self: center;
}

.book p:nth-child(3) {
  flex-basis: 100%;
}

/* dialog box styles */

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
}

label:not(label[for="true"]):not(label[for="false"]) {
  display: block;
}

input[type="text"],
input[type="number"] {
  height: 25px;
  font-size: 1rem;
  padding: 7px 5px 7px 3px;
}

.btns {
  display: flex;
  justify-content: center;
}
